:root {
    --anim: .4s all;


    // ! для тега body
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 14px;
    --body-color-text: #111419;
    --body-color-background: #fff;

    // ! основной шрифт *
    --default-font-family: 'Rubik', sans-serif;

    // ! отступы между загаловками, списками

    --text-margin-bottom: 25px;

    // ! отступ между секциями
    --section-margin-bot: 60px;

    // ! Стилизация заголовков h1-h4
    --title-default-font-size: 32px;
    --title-default-font-weight: 900;
    --title-default-line-height: 100%;

    // ! стилизация акордиона

    --accordion-item-header-background: transparent;
    --accordion-item-content-background: transparent;
    --accordion-item-color-title-active: #fff;
    --accordion-item-margin-bottom: 25px;
    --accordion-padding-head: 20px 0 14px 0;
    --accordion-padding-content: 14px 0 20px 0;
}
@media (max-width: 991px) {
    // ! отступ main для header fixed
    :root{
        --main-margin-top: 48px;
    }
}
@media (max-width: 767px) {
    :root {
        --body-font-size: 12px;
        --body-line-height: 14px;

        --section-margin-bot: 40px;
    
        --title-default-font-size: 24px;
    }
}


// ! цвета
:root {
    --white: #fff;
    --black: #000;
}
.white {
    color: var(--white);
}
.black {
    color: var(--black);
}

// ! КАРТИНКИ
.image {
    // &_mb-mob{
    //     margin-bottom: 20px;
    // }
    position: sticky;
    top: 8px;
    &_w100 {
        width: 100%;
    }
}

// ! Отступы между P

p, ul {
    &:not(:last-child){
        margin-bottom: var(--text-margin-bottom);
    }
}



// !lg
@media (max-width: 991px) {
    .image {
        top: 50px;
    }
}


// !md
@media (max-width: 767px) {
    .image {
        &_mb-mob{
            margin-bottom: 0;
        }
    }
}