// ! кнопка открытия меню (гамбургер)
.menu-btn {
    span {
        transition: var(--anim);
    } 
}
.button {
    transition: var(--anim);
}
.menu {
    transition: var(--anim);
    &__link {
        transition: var(--anim);
    }
}