<section class="section first-screen" style="min-height: 920px;">
    <div class="first-screen__content">
        <div class="container">
            <div class="row first-screen__row">
                <div class="col-md-6">
                    <div class="first-screen__img-block">
                        <picture class="first-screen__image" style="min-height: 239px;">
                            <source srcset="image/first.webp" media="(max-width: 767px)">
                            <source srcset="image/first.webp" type="image/webp">
                            <img src="image/first.webp" alt="pagina de start aplicație superbet" style="min-height: 239px;">
                        </picture>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="first-screen__box" style="min-height: 426px;">
                        <h1 class="section-title first-screen__title">Superbet aplicație</h1>
                        <p>Superbet aplicație este o aplicație mobilă excelentă pentru utilizatorii Android și iOS, care
                            aduce avantaje, distracție și șansa de a câștiga mari. Este ușor de folosit și optimizată
                            pentru orice dispozitiv mobil, oferind o experiență de top.</p>
                        <p>Consultați principalele caracteristici ale aplicației:</p>
                        <table class="table">
                            <tr>
                                <td>Versiunea aplicației</td>
                                <td>v3.28.0</td>
                            </tr>
                            <tr>
                                <td>Dimensiunii</td>
                                <td>65 MB</td>
                            </tr>
                            <tr>
                                <td>Android</td>
                                <td>7.0+</td>
                            </tr>
                            <tr>
                                <td>iOS</td>
                                <td>11+</td>
                            </tr>
                            <tr>
                                <td>Preț</td>
                                <td>Gratuit</td>
                            </tr>
                        </table>
                    </div>
                    <p class="white first-screen__subtitle">Haideți să vedem cum funcționează aplicația, cum să o
                        instalați pe telefon, care sunt avantajele și dezavantajele aplicației și multe altele.</p>
                </div>
            </div>
        </div>
    </div>
</section>