<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-links">
                <a href="#" target="_blank" class="footer-link">Descarcă</a>
                <a href="#" target="_blank" class="footer-link">Instalarea</a>
    
                <a href="#" target="_blank" class="footer-link">Pariuri sportive</a>
    
                <a href="#" target="_blank" class="footer-link">Bonus</a>
    
                <a href="#" target="_blank" class="footer-link">Înregistrare</a>
    
                <a href="#" target="_blank" class="footer-link">Depozit</a>
    
            </div>
            <div class="footer-icons">
                <img class="footer-icon" loading="lazy" src="icons/footer/1.svg" alt="footer-icon-1">
                <img class="footer-icon" loading="lazy" src="icons/footer/2.svg" alt="footer-icon-2">
    
                <img class="footer-icon" loading="lazy" src="icons/footer/3.svg" alt="footer-icon-3">
    
                <img class="footer-icon" loading="lazy" src="icons/footer/4.svg" alt="footer-icon-4">
    
                <img class="footer-icon" loading="lazy" src="icons/footer/5.svg" alt="footer-icon-5">
    
                <img class="footer-icon" loading="lazy" src="icons/footer/6.svg" alt="footer-icon-6">
    
            </div>
            <div class="footer-text">
                <p>Accesul persoanelor sub 18 ani este strict interzis.</p>
                <p>Este responsabilitatea fiecărui jucător să acționeze în conformitate cu reglementările în vigoare precum și cu termenii și condițiile noastre. Jocurile de noroc implică risc financiar, jucați responsabil.</p>
                <p>Superbet.ro este deținut și operat de Superbet Interactive (Romania) Limited, C.I.F.: 36446625, Număr de Înregistrare C75273; Level 1 Burlington Complex, Dragonara Road, St. Julians, Malta. Drept de organizare în baza licenței L1160659W000328 cu valabilitate 01.09.2016-31.08.2026, și în baza autorizației de exploatare obținută prin decizia 1362/29.07.2021</p>
            </div>
            <div class="footer-icons">
                <img class="footer-icon" loading="lazy" src="icons/footer/2-1.svg" alt="footer-icon-7">
                <img class="footer-icon" loading="lazy" src="icons/footer/2-2.svg" alt="footer-icon-8">
    
                <img class="footer-icon" loading="lazy" src="icons/footer/2-3.svg" alt="footer-icon-9">
    
            </div>
        </div>
    </div>
</footer>