<header class="header">
    <div class="container">
        <div class="header__box">
            <a class="menu-btn"></a>
            <a href="/" class="logo">
                <img src="icons/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                <div class="menu__buttons d-lg-flex d-none">
                    <a href="/partners/app/android/" class="menu-btn-text">Descarcă acum!</a>
                    <a href="/partners/" class="menu-btn-text reg_btn">Inregistreaza-te</a>
                </div>
                <ul class="ul-unset menu-inner">
                    {{#each data.headers}}
                        <li><a href="#{{this.url}}" class="menu__link">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <div class="menu__buttons d-lg-none d-flex">
                <a href="/partners/app/android/" class="menu-btn-text">Descarcă acum!</a>
                <a href="/partners/" class="menu-btn-text reg_btn">Inregistreaza-te</a>
            </div>
        </div>
    </div>
</header>
