<!-- Faq -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {{#each data.faqs}}
            {
                "@type": "Question",
                "name": "{{{ this.name }}}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{{ this.text }}}"
                }
            }
        {{#unless @last}},{{/unless}}
        {{/each}}
      ]
    }
    </script>